$base-off-white: #FCFCFC;
$form-background: rgba(200, 200, 200, 0.75);
$white: #fff;
$black: #000;
$dark-blue: #003182;
$dark-grey: #333333;
$base-color: #ED3760;
$off-black: #2a2a2a;
$off-white: #FCFCFC;

$primary-color: rgb(27, 27, 27);
$secondary-color: rgb(104, 104, 104);

$primary-font-color: white;

$primary-header-background-color: rgb(255,255,255);
$primary-footer-background-color: rgb(255,255,255);
$primary-content-background-color: rgb(251, 251, 251);

$modal-overlay-color: rgba(0, 0, 0, 0.075);
