$base-off-white: #fcfcfc;
$form-background: rgba(200, 200, 200, 0.75);
$white: #fff;
$black: #000;
$dark-blue: #003182;
$dark-grey: #333333;
$base-color: #ed3760;
$off-black: #2a2a2a;
$off-white: #fcfcfc;

$primary-color: black;
$secondary-color: orange;

$primary-font-color: rgb(27, 27, 27);
$primary-font-color-inactive: rgba(27, 27, 27, 0.5);
$secondary-font-color: white;

$primary-header-background-color: rgb(255, 255, 255);
$primary-footer-background-color: rgb(255, 255, 255);
$primary-content-background-color: rgb(251, 251, 251);

$modal-overlay-color: rgba(0, 0, 0, 0.075);