$buffer-size: 15px;

*{
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.btn{
	border-radius: 0!important;
	cursor: pointer;
}

.btn-link{
	cursor: pointer;
}

.btn-secondary{
	background: #fff;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
}

body{
	font-family: arial;
	font-size: 16px;
	background-color: #fff;
}

a{
  color: #000 !important;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  color: #000 !important;
  text-decoration: none !important;
}


@-webkit-keyframes spin{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pl-button--style-1{
    width: 250px;
    height: 40px;
    line-height: 40px;
    background: $base-off-white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.pl-button--style-1:hover{
    background: #efefef;
    transform: scale(1.02);
    transition: all .3s ease-in-out;
}
