@import '../base/all';
@import 'general';
@import '../components/allComponents';
@import '../pages/allPages';

body{
	font-size: 16px;
    background-image: url('../../images/green-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	font-family: "Oxygen" !important;
}

$steps: 51;
@for $i from 0 to $steps{
	.pl-buffer-bottom-#{$i} {
		margin-bottom: #{$i}px !important;
	}
	.pl-buffer-top-#{$i} {
		margin-top: #{$i}px !important;
	}
	.pl-buffer-right-#{$i} {
		margin-right: #{$i}px !important;
	}
	.pl-buffer-left-#{$i} {
		margin-left: #{$i}px !important;
	}
}