@import '../base/all';
@import '../helpers/allHelpers';
@import 'general';
@import '../pages/allPages';
@import '../components/allComponents';

$steps: 51;
@for $i from 0 to $steps{
	.pl-buffer-bottom-#{$i} {
		margin-bottom: #{$i}px !important;
	}
	.pl-buffer-top-#{$i} {
		margin-top: #{$i}px !important;
	}
	.pl-buffer-right-#{$i} {
		margin-right: #{$i}px !important;
	}
	.pl-buffer-left-#{$i} {
		margin-left: #{$i}px !important;
	}
}