.home-contain{
    min-height: calc(100vh - 120px);
}

.home__section--title{
    width: 400px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    position: relative;
    height: max-content;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $green;
    font-style: italic;
    letter-spacing: 5px;
}
  
.home__section--title::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: $green;
    left: calc(50% - 25px);
    bottom: 0px;
}

.home__step__wrapper{
    display: flex;
    justify-content: space-around;
    width: 90%;
    color: $off-black;
    margin: 80px auto 0 auto;
}

.home__step{
    width: 300px;
    height: 300px;
    background-color: $white;
    opacity: 0.75;
    box-shadow: 0em 0em 0.25em $green;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    margin-top: 50px;
}

.home__step__title{
    padding: 5px 0;
    font-size: 1.3rem;
    position: relative;
}

.home__step__title::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: gray;
    left: calc(50% - 20px);
    bottom: 0px;
}

.home__step__description{
    padding: 30px 30px;
    font-size: 1rem;
    text-align: center;
}

.home__button--wrap{
    margin: 40px auto;
    width: 300px;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: $mobile-break-point) {
    .home__step__wrapper{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 20px auto 0 auto;
    }

    .home__section--title{
        width: 100vw;
    }
}