 @include background-with-gradient();
    font-size: 16px;
    font-family: $font-family-primary;
    font-family: arial;
    font-size: 16px;
    .form__wrap{ background: url('../../images/test2.png');
    background-size: cover;
    background-repeat: no-repeat
  }
