.dashboard__tab-container{
    width: 100%;
    height: 40px;
    padding: 0 20px;
    margin-top: 10px;
    justify-content: left;
}

.dashboard__tab{
    width: 15%;
    padding: 10px;
    cursor: pointer;
    color: $primary-font-color;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;

    &.selected{
        border-bottom: 2px solid $secondary-color;
    }

    &.unselected{
        color: $primary-font-color-inactive;
    }
}

.dashboard__table-header{
    cursor: pointer;
    user-select: none; 
}

.dashboard__update{
    position: absolute;
    right: 20px;
}

@media (max-width: $mobile-break-point){
    .dashboard__tab-container{
        height: 70px;
        justify-content: center;
    }

    .dashboard__tab{
        width: 30%;
    }

    .dashboard__update{
        bottom: 125px;
        right: unset;
    }
}