.form__wrap{
    height: 100vh;
    width: 100%;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    // background-image: url('../../images/form-background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

.form__container{
    // border: solid 0.5px $white;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    box-shadow: 0em 0em 1.2em rgba(0, 0, 0, 0.25)
}

.form-logo{
    background-image: url('../../images/logo.ico');
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-header{
    font-size: 30px;
    color: $black;
    text-align: center;
}

.form-body{
    padding: 10px;
    width: 100%;
    text-align: center;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-input__heading{
    font-size: 25px;
    color: $white;
}

.form-input__section{
    // padding-top: 10px;
    margin: 0 auto;
    width: 90%;

    input {
        margin: 10px 0 15px 0;
    }
}

.form-input__label{
    font-size: 20px;
    padding-right: 15px;
}

.form-input__value{
    color: $black;
    // background: $form-background;
    font-size: 1rem;
    border: 0.5px solid $black;
    border-radius: 2px;
    padding: 5px;
}

.form-submission__section{
    padding-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form__submit-button{
    width: 250px; 
    height: 40px;  
    background-color: $secondary-color; 
    color: $black;
    font-size: 20px;
    border-radius: 10px; 
    margin: auto;
    cursor: pointer;
}

.form__submit-link{
    background: none;
    color: $black;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
}

@media (max-width: $mobile-break-point){
    .form__submit-button{
        width: 105px; 
        height: 50px;  
    }

    .form__container{
        width: 100%;
        height: 100%;
        border-radius: 0;
        position: relative;
        left: 0;
        transform: none;
    }
}