.form-header{
    padding: 25px 25px 25px 25px;
    font-size: 40px
}

.form-input__heading{
    padding: 15px 15px 15px 25px;
    font-size: 30px
}

.form-input__section{
    padding: 15px 15px 15px 25px
}

.form-input__label{
    font-size: 25px;
    padding-right: 15px
}

.form-input__value{
    font-size: 25px
}

.form__submit-button{
    padding: 15px 15px 15px 25px;
    font-size: 25px;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    cursor: pointer
}