.form-header{
    font-size: 40px;
    margin: 0 auto;
    width: 500px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.form-body{
    width: 100%;
}

.form-input__heading{
    font-size: 30px;
    margin: 0 auto;
    width: 300px;
}

.form-input__section{
    padding-top: 15px;
    margin: 0 auto;
    width: 300px;
}

.form-input__label{
    font-size: 25px;
    padding-right: 15px;
}

.form-input__value{
    font-size: 25px;
}

.form-submission__section{
    padding-top: 15px;
    padding-left: 200px;
    margin: 0 auto;
}

.form__submit-button{
   width:275px; 
   height:40px;  
   background-color: #676c75; 
   color: white;
   font-size: 25px;
   border-radius: 10px; 
}

.form__cancel-button{
   width:275px; 
   height:40px;  
   background-color: #d80d28; 
   color: white;
   font-size: 25px;
   border-radius: 10px; 
}