.header__container{
    height: 60px;
    width: 100%;
    // background: $primary-header-background-color;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    // -webkit-justify-content: space-between;
    // -moz-justify-content: space-between;
    // -ms-justify-content: space-between;
    // -o-justify-content: space-between;
    // justify-content: space-between;
    box-shadow: $header-box-shadow;
    font-size: 1rem;
}

.header__container.no-shadow{
    box-shadow: none;
}

.header__logo--wrapper{
    width: 10%;
}

.header__logo{
    height: 70px;
    width: auto;
    cursor: pointer;
}

.header__nav__container{
    width: 50%;
}

.header__nav__item{
    -webkit-display: inline-block;
    -moz-display: inline-block;
    -ms-display: inline-block;
    -o-display: inline-block;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    color: $primary-font-color;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $secondary-color;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    &:hover{
        color: $secondary-color;
    }

    &:hover:before{
        visibility: visible;
        width: 100%;
    }
}

.header__buttons{
    width: 40%;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.header__buttons__notify{
    color: $primary-font-color;
    cursor: pointer;
    margin: 0 4px;
}

@media (max-width: $mobile-break-point){
    .header__container{
        font-size: 0.9rem;
    }

    .header__nav__container{
        width: 0;
    }
    
    .header__buttons{
        width: 90%;
    }

    .header__logo{
        height: 30px;
    }
}