.map__container{
	padding: 10px;
	height: 400px;
	width: 700px;
}

.map{
	margin-top: 20px;
	height: 330px;
	width: 100%;
}

@media (max-width: $mobile-break-point){
    .map__container{
		width: 100%;
    }
}