
.pre-loader-bounce__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid darkslategray;
}


.pre-loader-bounce__balls {
    border-radius: 50%;
    position: relative;
    width: 180px;
    height: 180px;
    top: 30%;

    &:before, &:after {
        position: absolute;
        content: "";
    }
    
    &:after {
        height: 20px;
        width: 20px;
        background-color: red;
        border-radius: 50%;
        top: 100px;
        left: 100px;
        animation: pre-loader-bounce 0.25s ease-in-out infinite;
        animation-direction: alternate;
    }
    
    &:before {
        height: 20px;
        width: 20px;
        background-color: darkslategray;
        border-radius: 50%;
        top: 174px;
        left: 0px;
        animation: slide-sideways 1s ease-in-out infinite;
        animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
        animation-direction: alternate;
    }
}

@keyframes pre-loader-bounce {
    0% {
        height: 24px;
        transform: translateY(0px);
    }
    75%{
        height: 20px;
        width: 20px;
    } 
    100% {
        height: 10px;
        width: 24px;
        transform: translateY(94px);
    }
}

@keyframes slide-sideways {
    
    50% {
        transform: translateX(200px);
    }
}

